@use '../../../styles/functions';

.wrapper {
  display: block;
  line-height: 1.1;
}

.link {
  color: currentColor;
  display: inline-block;
}

.logo {
  $credit-content-margin: functions.spacing(1);

  fill: currentColor;
  margin-right: $credit-content-margin;
  vertical-align: top;
  width: 50px;

  .wrapper[dir='rtl'] & {
    margin-right: 0;
    margin-left: $credit-content-margin;
  }
}

.text {
  display: inline-block;
  text-align: left;

  .wrapper[dir='rtl'] & {
    margin-top: 10px;
    text-align: right;
  }
}
