@use '../../../styles/functions';

.root {
  display: block;
  line-height: 1.1;
}

.logo {
  $credit-content-margin: functions.spacing(1);

  margin-right: $credit-content-margin;
  vertical-align: top;
  width: 50px;

  .root[dir='rtl'] & {
    margin-right: 0;
    margin-left: $credit-content-margin;
  }
}

.link {
  color: currentColor;
  display: inline-block;

  @media (prefers-reduced-motion: no-preference) {
    &[href] {
      &:hover {
        .logo {
          transform: scale(1.1);
        }
      }

      &:focus,
      &:active {
        .logo {
          transform: scale(1);
        }
      }
    }
  }
}

.text {
  display: inline-block;
  text-align: left;

  .root[dir='rtl'] & {
    margin-top: 10px;
    text-align: right;
  }
}
