.root {
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  width: 100%;

  & > *,
  & > picture img {
    display: block;
    width: 100%;
  }

  & > iframe {
    border: 0;
    position: absolute;
    height: 100%;
  }
}
