.root {
  cursor: default;
  display: inline-block;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: auto;

  &[href],
  &[type] {
    cursor: pointer;
  }

  &[disabled],
  &[aria-disabled] {
    cursor: not-allowed;
  }
}

.group {
  display: block;
}
