@use 'true' as *;
@use '../font';

$font-files: (
  fizz: (
    filename: 'fizz.woff',
    font-weight: bold
  ),
  buzz: (
    filename: 'buzz.woff2',
    font-style: italic
  )
);

@include test-module('font.font-faces') {
  @include test('should output nothing by default') {
    @include assert {
      @include output {
        @include font.font-faces;
      }

      @include expect;
    }
  }
}

@include test-module('font.font-faces($font-faces)') {
  @include test('should output expected styles') {
    @include assert {
      @include output {
        @include font.font-faces(($font-files));
      }

      @include expect {
        @font-face {
          font-display: swap;
          font-family: fizz;
          font-style: normal;
          font-weight: bold;
          src: url('/fonts/fizz.woff') format('woff');
        }

        @font-face {
          font-display: swap;
          font-family: buzz;
          font-style: italic;
          font-weight: normal;
          src: url('/fonts/buzz.woff2') format('woff2');
        }
      }
    }
  }
}

@include test-module('font.font-urls') {
  @include test('should output expected styles') {
    @include assert-equal(font.font-urls(), null);
    @include assert-equal(
      font.font-urls($font-files),
      ('/fonts/fizz.woff', '/fonts/buzz.woff2')
    );
  }
}
