@use 'true' as *;
@use '../hidpi' as *;

@include test-module('hidpi()') {
  @include test('should default to a ratio of 1.3') {
    /* stylelint-disable media-feature-name-no-vendor-prefix */
    @include assert {
      @include output {
        @include hidpi {
          .element-1 {
            color: #000;
          }
        }

        .element-2 {
          @include hidpi {
            color: #000;
          }
        }
      }

      @include expect {
        @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi) {
          .element-1 {
            color: #000;
          }
        }

        @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124dpi) {
          .element-2 {
            color: #000;
          }
        }
      }
    }
    /* stylelint-enable media-feature-name-no-vendor-prefix */
  }

  @include test('should accept a custom ratio') {
    /* stylelint-disable media-feature-name-no-vendor-prefix */
    @include assert {
      @include output {
        .element {
          @include hidpi(2) {
            color: #000;
          }
        }
      }

      @include expect {
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
          .element {
            color: #000;
          }
        }
      }
    }
    /* stylelint-enable media-feature-name-no-vendor-prefix */
  }
}
