@use 'true' as *;
@use '../visually-hidden' as *;

@include test-module('visually-hidden()') {
  @include test('should output expected styles') {
    @include assert {
      @include output {
        .element {
          @include visually-hidden;
        }
      }

      @include expect {
        .element {
          position: absolute !important;
          height: 1px !important;
          width: 1px !important;
          margin: -1px !important;
          padding: 0 !important;
          border: 0 !important;
          overflow: hidden !important;
          clip-path: rect(0, 0, 0, 0) !important;
        }
      }
    }
  }
}
