@use '../../../styles/mixins';
@use '../../../styles/breakpoints.module';

.root {
  @include mixins.clearfix;

  & {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@each $size, $maxWidth in breakpoints.$all {
  .#{$size} {
    /*! purgecss ignore current */
    max-width: $maxWidth;
  }
}
