@use '../../../styles/mixins';
@use '../../../styles/breakpoints.module';

.root {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @include mixins.clearfix;
}

@each $size, $maxWidth in breakpoints.$all {
  .#{$size} {
    /*! purgecss ignore current */
    max-width: $maxWidth;
  }
}
