version: 2.1

orbs:
  newhighsco: newhighsco/orb@dev:alpha

only-version-tags: &only-version-tags
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

build-parameters: &build-parameters
  name: build
  path-to-persist: build

workflows:
  version: 2
  test_and_release:
    jobs:
      - newhighsco/setup:
          name: setup
          cache-version: v1.1
      - newhighsco/test:
          name: test
          rerun-only-failed: true
          requires:
            - setup
      - newhighsco/build:
          <<: *build-parameters
          requires:
            - test
      - newhighsco/snapshot:
          name: snapshot
          requires:
            - build
      - newhighsco/release:
          name: release
          requires:
            - snapshot
          filters:
            branches:
              only:
                - main
  snapshot_version:
    jobs:
      - newhighsco/setup:
          <<: *only-version-tags
          name: setup
      - newhighsco/build:
          <<: *only-version-tags
          <<: *build-parameters
          requires:
            - setup
      - newhighsco/snapshot:
          <<: *only-version-tags
          name: snapshot
          requires:
            - build
