version: 2.1

orbs:
  newhighsco: newhighsco/orb@1.14.0

only-main: &only-main
  filters:
    branches:
      only:
        - main

only-version-tags: &only-version-tags
  filters:
    tags:
      only: /^v.*/
    branches:
      ignore: /.*/

build-parameters: &build-parameters
  name: build
  path-to-persist: build

setup-parameters: &setup-parameters
  name: setup
  cache-version: v1.1
  checkout-method: full

workflows:
  version: 2
  test_and_release:
    jobs:
      - newhighsco/setup:
          <<: *setup-parameters
      - newhighsco/test:
          name: test
          list-command: yarn test:list
          rerun-only-failed: true
          requires:
            - setup
      - newhighsco/build:
          <<: *build-parameters
          requires:
            - test
      - newhighsco/snapshot:
          name: snapshot
          requires:
            - build
      - newhighsco/release:
          <<: *only-main
          name: release
          requires:
            - snapshot
      - newhighsco/analyze:
          <<: *only-main
          name: analyze
          disabled: true
          requires:
            - release
  snapshot_version:
    jobs:
      - newhighsco/setup:
          <<: *only-version-tags
          <<: *setup-parameters
      - newhighsco/build:
          <<: *only-version-tags
          <<: *build-parameters
          requires:
            - setup
      - newhighsco/snapshot:
          <<: *only-version-tags
          name: snapshot
          requires:
            - build
