@use '../settings/colors';
@use '../settings/fonts';

.item {
  background-color: colors.$lemon;
  border: 1px solid colors.$black;
  color: currentColor;
  font-family: fonts.$body;
  padding: 1em;

  &:hover {
    background-color: colors.$yellow;
    text-decoration: none !important;
  }
}

.wrapper {
  text-align: center;

  .item {
    margin: 0 0.5em;
  }
}
