@import '../../../styles/functions/spacing';
@import '../settings/colors';
@import '../settings/fonts';

.wrapper {
  background-color: $color-yellow;
  font-family: $font-body;

  & + & {
    margin-top: 1em;
  }
}

.content {
  background-color: $color-lemon;
  padding: 1em;
}

.gutter {
  padding-left: spacing(1);
  padding-right: spacing(1);
}
