@use '../settings/colors';
@use '../settings/fonts';

.wrapper {
  font-family: fonts.$body;
}

.list {
  background: colors.$lemon;
  border: 1px solid colors.$black;
}

.item {
  border-top: 1px solid colors.$black;

  .inline & {
    border-top: 0;
    border-left: 1px solid colors.$black;
  }

  &:first-child {
    border: 0;
  }
}

.link {
  color: currentColor;
  padding: 1em;
  text-decoration: none;

  &:hover {
    background: colors.$yellow;
  }
}
