@use '../styles/colors';
@use '../styles/fonts';

.root {
  background-color: colors.$lemon;
  border: 1px solid colors.$black;
  color: colors.$black;
  font-family: fonts.$body;
  padding: 1em;

  &:hover,
  &.active {
    background-color: colors.$yellow;
    text-decoration: none !important;
  }

  &[disabled],
  &[aria-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.group {
  text-align: center;

  .root {
    margin: 0 0.5em;
  }
}
