@use '../../styles/functions';
@use '../styles/colors';
@use '../styles/fonts';

.root {
  background-color: colors.$yellow;
  font-family: fonts.$body;

  & + & {
    margin-top: 1em;
  }
}

.content {
  background-color: colors.$lemon;
  padding: 1em;
}

.gutter {
  padding-left: functions.spacing(1);
  padding-right: functions.spacing(1);
}
