@use '../styles/colors';
@use '../styles/fonts';

.root {
  color: colors.$black;
  font-family: fonts.$body;
}

.toggle {
  &:focus {
    outline: none;
  }

  &.toggleActive {
    margin-bottom: 0.5em;
  }
}

.list {
  background: colors.$lemon;
  border: 1px solid colors.$black;
}

.item {
  border-top: 1px solid colors.$black;

  .inline & {
    border-top: 0;
    border-left: 1px solid colors.$black;
  }

  &:first-child {
    border: 0;
  }
}

.link {
  color: currentColor;
  display: block;
  padding: 1em;
  text-decoration: none;

  &:hover {
    background: colors.$yellow;
  }
}

.menu.list {
  background: orange;
}
