@use '../styles/colors';
@use '../styles/fonts';

.root {
  font-family: fonts.$body;

  a {
    color: currentColor;
    text-decoration-color: colors.$yellow;
  }

  ul,
  ol {
    padding-left: 1.5em;
  }
}
