@use 'sass:list';
@use 'sass:math';
@use 'sass:map';
@use './a11y';

// DEFAULT VARIABLES

// Default count & fraction names
$count-names: one two three four five six seven eight nine ten eleven twelve
  thirteen fourteen fifteen sixteen !default;
$fraction-names: whole half third quarter fifth sixth seventh eighth ninth tenth
  eleventh twelfth thirteenth fourteenth fifteenth sixteenth !default;

// INITIALIZE GRID

@mixin initialize() {
  .item {
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 100%; // Set default width
  }
}

// GRID UNCOMPRESSED
// Workaround for non-compressed HTML (avoid if possible)

@mixin uncompressed($spacing: -0.25em) {
  .root.uncompressed {
    letter-spacing: $spacing;
  }

  .item.uncompressed {
    letter-spacing: normal;
  }
}

// GRID GUTTER
// Custom namespaced gutter widths

@mixin gutter($namespace, $grid-modifier--gutter) {
  @if $namespace != '' {
    $namespace: '.' + $namespace;
  }

  /*! purgecss start ignore */
  .root#{$namespace} {
    margin-left: -($grid-modifier--gutter);

    & > .item {
      padding-left: -grid-gutter($grid-modifier--gutter);
    }
  }

  /*! purgecss end ignore */
}

// GRID REVERSE
// Reverses the rendered layout of the `grid__item`s

@mixin reverse($namespace: '') {
  $namespace: -namespace-suffix($namespace, 'reverse');

  /*! purgecss start ignore */
  .root#{$namespace} {
    direction: rtl;
    text-align: right;

    > .item {
      direction: ltr;
      text-align: left;
    }
  }

  /*! purgecss end ignore */
}

// GRID WIDTHS
// Sets up grid width styles

@mixin widths($namespace, $columns) {
  $namespace: -namespace-suffix($namespace);

  @include -grid($namespace, $columns, 'width');
}

// GRID FLEXBOX
// Sets up grid flexbox styles

@mixin flex() {
  .root.flex {
    display: flex;
    flex-wrap: wrap;
  }
}

@mixin hidden($namespace: '') {
  $namespace: -namespace-suffix($namespace, 'hidden');

  /*! purgecss start ignore */
  .item#{$namespace} {
    @include a11y.visually-hidden;
  }

  /*! purgecss end ignore */
}

// GRID VERTICAL ALIGNMENTS
// Sets up grid vertical-align styles

@mixin valign($aligns) {
  $align-items: (
    top: flex-start,
    middle: center,
    bottom: flex-end
  );

  @each $align in $aligns {
    $namespace: -namespace-suffix('valign', $align);

    /*! purgecss start ignore */
    .root#{$namespace} {
      &.flex {
        align-items: map.get($align-items, $align);
      }

      > .item {
        vertical-align: $align;
      }
    }

    /*! purgecss end ignore */
  }
}

// INTERNAL MIXINS
// These mixins should not be called directly,
// instead are used as helpers within other mixins

@mixin -grid($namespace, $columns, $property) {
  $columns-length: list.length($columns);

  @for $i from 1 through $columns-length {
    $column: list.nth($columns, $i);
    $grid: list.nth($fraction-names, $column);
    $column-count: if(
      sass($column == 1): 1; else: $column - 1
    );

    @for $j from 1 through $column-count {
      $plural: if(
        sass($j == 1): '' ; else: 's'
      );
      $column-width: $j * math.div(100, $column);
      $column-name: list.nth($count-names, $j);

      .item#{$namespace}#{$column-name}-#{$grid}#{$plural} {
        #{$property}: $column-width + 0%;
      }
    }
  }
}

@function -grid-gutter($g) {
  @if math.unit($g) == '%' {
    $scale: math.div(100, 100 + $g);

    @return ($scale * $g) + 0%;
  } @else {
    @return $g;
  }
}

@function -namespace-suffix($namespace, $suffix: '') {
  @if $namespace != '' {
    $namespace: $namespace + '-';
  }

  @return '.' + $namespace + $suffix;
}
