@mixin mq($min: false, $max: false, $height: false, $and: false, $media: all) {
  $-direction: if($height, height, width);
  $mq: '#{$media} ';

  @if $min {
    $mq: '#{$mq} and (min-#{$-direction}: #{$min})';
  }

  @if $max {
    $mq: '#{$mq} and (max-#{$-direction}: #{$max})';
  }

  @if $and {
    $mq: '#{$mq} and #{$and}';
  }

  @media #{$mq} {
    @content;
  }
}
