@use 'sass:list';
@use 'sass:math';

@mixin triangle($point: 'up', $size: 1em, $color: '') {
  @if $point == 'up' {
    @include -triangle-borders(
      (
        right: transparent,
        bottom: filled,
        left: transparent
      ),
      $size,
      $color
    );
  } @else if $point == 'right' {
    @include -triangle-borders(
      (
        top: transparent,
        bottom: transparent,
        left: filled
      ),
      $size,
      $color
    );
  } @else if $point == 'down' {
    @include -triangle-borders(
      (
        top: filled,
        right: transparent,
        left: transparent
      ),
      $size,
      $color
    );
  } @else if $point == 'left' {
    @include -triangle-borders(
      (
        top: transparent,
        right: filled,
        bottom: transparent
      ),
      $size,
      $color
    );
  } @else if $point == 'up-left' {
    @include -triangle-borders(
      (
        top: filled,
        right: transparent,
        bottom: transparent,
        left: filled
      ),
      math.div($size, 2),
      $color
    );
  } @else if $point == 'up-right' {
    @include -triangle-borders(
      (
        top: filled,
        right: filled,
        bottom: transparent,
        left: transparent
      ),
      math.div($size, 2),
      $color
    );
  } @else if $point == 'down-right' {
    @include -triangle-borders(
      (
        top: transparent,
        right: filled,
        bottom: filled,
        left: transparent
      ),
      math.div($size, 2),
      $color
    );
  } @else if $point == 'down-left' {
    @include -triangle-borders(
      (
        top: transparent,
        right: transparent,
        bottom: filled,
        left: filled
      ),
      math.div($size, 2),
      $color
    );
  }
}

@mixin -triangle-borders($sides, $size, $color) {
  width: 0;
  height: 0;

  @each $side in $sides {
    $direction: list.nth($side, 1);
    $type: list.nth($side, 2);

    @if $type == filled {
      border-#{$direction}: $size solid if($color != '', $color, null);
    } @else if $type == transparent {
      border-#{$direction}: $size solid transparent;
    }
  }
}
