@use '../../../styles/functions';

.root {
  height: 100%;
  overflow: hidden;
  position: relative;
}

.heading {
  a::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.copy {
  a {
    position: relative;
  }
}
