.root {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  min-width: 1em;

  svg {
    vertical-align: top;
    height: auto;
  }
}

.customSize {
  svg {
    width: inherit;
  }
}
