@use '../../../styles/functions';

.root {
  // Unset common styles left in place by WYSIWYG editor
  $overrides:
    'box-sizing', 'color', 'font-family', 'font-size', 'font-style',
    'font-weight', 'line-height', 'margin', 'padding', 'text-decoration',
    'white-space';

  @each $property in $overrides {
    :global([style*='#{$property}']) {
      #{$property}: inherit !important;
    }
  }

  > * + * {
    margin-top: functions.spacing(2);
  }

  ol,
  ul {
    margin-left: functions.spacing(2);
  }
}
