[aria-expanded='false'] ~ .list {
  display: none;
}

.itemToggle {
  position: relative;

  .inline & .list {
    position: absolute;
    z-index: 1;
  }
}

.link {
  display: block;
  width: 100%;
}
