$color-aquamarine: #6fcfaa;
$color-black-forest: #1b2a13;
$color-cherry: #853656;
$color-cranberry: #df5971;
$color-lemon: #ffffb6;
$color-mardi-gras: #351137;
$color-melon: #febaa7;
$color-pattens-blue: #d0ebff;
