.root {
  background-size: cover;
  background-position: 50% 50%;
  object-fit: cover;
  object-position: 50% 50%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;

  > *,
  & > picture img {
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
