/*! purgecss start ignore */
@use '../styles/normalize';

:global {
  :root {
    @media (prefers-color-scheme: dark) {
      color-scheme: dark;
    }
  }

  .sbdocs-title {
    align-items: center;
    display: flex;
    gap: 0.25em;

    img {
      vertical-align: middle;
    }
  }
}

/*! purgecss end ignore */
