/*! purgecss start ignore */
@use '../styles/normalize';

:global {
  .dark.sbdocs {
    color: white;
  }

  .sbdocs-title {
    align-items: center;
    display: flex;
    gap: 0.25em;

    img {
      vertical-align: middle;
    }
  }
}

/*! purgecss end ignore */
