/*! purgecss start ignore */
@use '../styles/normalize';

:global {
  body {
    font-family: system-ui;
  }

  .sbdocs-title * {
    vertical-align: middle !important;
  }

  .dark .docs-story {
    background: white;
  }
}

/*! purgecss end ignore */
