.root {
  display: inline-block;
  position: relative;
}

.toggle {
  cursor: help;

  &[href],
  &[aria-expanded] {
    cursor: pointer;
  }
}

.content {
  display: block;
  position: absolute;
  z-index: 1;

  [aria-expanded='false'] ~ & {
    display: none;
  }

  &.top {
    bottom: 100%;
  }

  &.bottom {
    top: 100%;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.middle {
    top: 50%;
    transform: translateY(-50%);

    &.left {
      left: auto;
      right: 100%;
    }

    &.right {
      left: 100%;
      right: auto;
    }

    &.center {
      transform: translate(-50%, -50%);
    }
  }
}

.heading,
.copy {
  display: block;
}
