@use './functions/strip-unit' as *;

$mobile: 300px !default;
$mobileLandscape: 400px !default;
$tablet: 550px !default;
$tabletLandscape: 800px !default;
$desktop: 960px !default;
$desktopMedium: 1280px !default;
$desktopLarge: 1600px !default;
$all: (
  mobile: $mobile,
  mobileLandscape: $mobileLandscape,
  tablet: $tablet,
  tabletLandscape: $tabletLandscape,
  desktop: $desktop,
  desktopMedium: $desktopMedium,
  desktopLarge: $desktopLarge
);

:export {
  mobile: strip-unit($mobile);
  mobileLandscape: strip-unit($mobileLandscape);
  tablet: strip-unit($tablet);
  tabletLandscape: strip-unit($tabletLandscape);
  desktop: strip-unit($desktop);
  desktopMedium: strip-unit($desktopMedium);
  desktopLarge: strip-unit($desktopLarge);
}
