@use './functions/strip-unit' as *;

$mobile: 320px !default;
$mobile-landscape: 400px !default;
$tablet: 550px !default;
$tablet-landscape: 800px !default;
$desktop: 960px !default;
$desktop-medium: 1280px !default;
$desktop-large: 1600px !default;
$all: (
  mobile: $mobile,
  mobileLandscape: $mobile-landscape,
  tablet: $tablet,
  tabletLandscape: $tablet-landscape,
  desktop: $desktop,
  desktopMedium: $desktop-medium,
  desktopLarge: $desktop-large
);

:export {
  mobile: strip-unit($mobile);
  mobileLandscape: strip-unit($mobile-landscape);
  tablet: strip-unit($tablet);
  tabletLandscape: strip-unit($tablet-landscape);
  desktop: strip-unit($desktop);
  desktopMedium: strip-unit($desktop-medium);
  desktopLarge: strip-unit($desktop-large);
}
